@{
    ViewData["Title"] = "About Me";
}
<div class="block-am">
        <p_am class="text-am margin-off">
            <p>Learn about site at <a href="https://github.com/Jevkray">My GitHub</a>.</p>
        </p_am>
        <p_am class="photo-am margin-off">
            <img class="image-am" src="~/pictures/me.png">
        </p_am>    
</div>
