@{
    ViewData["Title"] = "About Me";
}
<div class="block-am">
    <div>
        <p_am class="remove-border text-am margin-off">
            <h1 class="style-name-am">Welcome</h1>
            <p class="text-am-small" style="text-align: center;">
                My name is Eugene Krasovsky, and I'm .Net Developer. So, I'm 20 Year's old, and I'm from Minsk, Belarus.
                I hope you like my website and contact me if u have some questions and offers for me.
                You can learn about my projects at my <a href="https://github.com/Jevkray">GitHub</a>.
            </p>
        </p_am>
    </div>
    <div>
        <p_am class="photo-am margin-off">
            <img class="image-am" src="~/pictures/92729853.jpg">
        </p_am>    
    </div>
</div>

<!-- Im student of Belarusian State University of Informatics and Radioelectronics -->