@{
    ViewData["Title"] = "About Me";
}
<div class="block-am">
    <div>
        <p_am class="remove-border text-am margin-off">
            <h1 class="style-name-am">Welcome</h1>
            <p class="text-am-small" style="text-align: center;">
                    My name is Eugene Krasovsky, and I'm .Net Developer. So, I'm 20 Year's old, and I'm from Minsk, Belarus.
                    I hope you like my website and contact me if u have some questions and offers for me.
                    Also, you can learn about my projects at my <a class ="underline-one-text" href="https://github.com/Jevkray">GitHub</a>.
            </p>
            <div class="logos-am">
                <div class="logo-gmail">
                    <a href="***"><img class="image-logo-am" src="~/pictures/gmail.png"></a>
                </div>
                <div class="logo-tg" style=>
                    <a href="https://t.me/eugenekray"><img class="image-logo-am" src="~/pictures/tg.png"></a>
                </div>
                <div class="logo-github" style=>
                    <a href="https://github.com/Jevkray"><img class="image-logo-am" src="~/pictures/git.png"></a>
                </div>
            </div>
            
        </p_am>
    </div>
    <div>
        <p_am class="photo-am margin-off">
            <img class="image-am" src="~/pictures/92729853.jpg">
        </p_am>    
    </div>
</div>

<!--

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Запустите демо модального окна
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Заголовок модального окна</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>
-->