@{
    ViewData["Title"] = "About Me";
}
<div class="block-am">
    <div>
        <p_am class="remove-border text-am margin-off">
            <h1 class="style-name-am">Welcome</h1>
            <p class="text-am-small" style="text-align: center;">
                    My name is Eugene Krasovsky, and I'm .Net Developer. So, I'm 20 Year's old, and I'm from Minsk, Belarus.
                    I hope you like my website and contact me on Telegram or Gmail if u have some questions and offers for me.
                    Also, you can learn about my projects at my GitHub.
            </p>
            <div class="logos-am">
                <div class="logo-tg">
                    <a href="https://t.me/eugenekray"><button type="button" class="remove-border text-logo-am underline-one-text"><img class="image-logo-am" src="~/pictures/tg.png"> Telegram</button></a>
                </div>
                <div class="logo-github">
                    <a href="https://github.com/Jevkray"><button type="button" class="remove-border text-logo-am underline-one-text"><img class="image-logo-am" src="~/pictures/git.png"> GitHub</button></a>
                </div>
                <div class="logo-gmail">
                    <button type="button" class="remove-border text-logo-am underline-one-text" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="image-logo-am" src="~/pictures/gmail.png"><a> Gmail</a></button>           
                </div>
            </div>
        </p_am>
    <div>
        <p_am class="photo-am margin-off">
            <img class="image-am" src="~/pictures/92729853.jpg">
        </p_am>    
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="max-width: 60%">
        <div class="modal-content" style="height: 80%">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Send to Mail</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <h4>On this window you can message me</h4>
            <div class="name-window">
              <!-- ФИО -->
              1
            </div>
            <div class="feedback-window">
              <!-- Здесь почта -->
              2
            </div>
            <div class="message-window">
              <!-- Текст сообщения -->
              3
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 48%" data-bs-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" style="width: 48%" data-bs-dismiss="modal">Отправить</button>
          </div>
        </div>
      </div>
    </div>
</div>
