@{
    ViewData["Title"] = "About Me";
}
<div class="block-am">
        <p_am class="text-am margin-off">
            <p>Learn about site at <a href="https://github.com/Jevkray">My GitHub</a>.</p>
        </p_am>
        <p_am class="photo-am margin-off">
            <img src="~/pictures/me.png" style="object-fit: cover; width: 100%; height: 100%; transform: scale(-1, 1); border-right: 4px solid #FFD9C1;">
        </p_am>    
</div>
