@{
    ViewData["Title"] = "Education";
}

@section Sprites {
    <link rel="stylesheet" href="~/css/home/home.css" />
}

<div class="container p-0">
    <div class="row">
        <div class="col-sm-12 bg-transparent col-md-9 pe-0 ps-0 align-self-center order-1">
            <div class="pt-3 pb-3">
                <div class="pe-2 pb-1 bg-def rounded-3">
                    <div class="fs-3 p-2 ps-3 pe-3 text-dr bg-white rounded montserrat-medium">
                        School Time
                        <span class="d-block d-md-none fs-6">2009-2020</span>
                    </div>
                </div>
                <div class="fs-4 p-2 text-white">
                    <p class="m-0">
                        Начало моего пути в программировании прошло во время обучения в Гимназии №1 г. Старые Дороги,
                        в то время я занимался изучением ABCPascal и Python (однако сейчас я даже не могу вспомнить, как устроен Pascal).
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 d-none d-md-block order-2">
            <div class="pt-3 pb-3 d-flex h-100 w-100">
                <div class="fs-3 ps-3 pe-3 text-white bg-dr rounded montserrat-medium h-100 w-100 d-flex align-items-center justify-content-center text-center">
                    2009-2020
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 bg-transparent col-md-9 pe-0 ps-0 align-self-center order-2">
            <div class="pt-3 pb-3">
                <div class="pe-2 pb-1 bg-def rounded-3">
                    <div class="fs-3 p-2 ps-3 pe-3 text-dr bg-white rounded montserrat-medium">
                        University Time
                        <span class="d-block d-md-none fs-6">2020-2024</span>
                    </div>
                </div>
                <div class="fs-4 p-2 text-white">
                    <p class="m-0">
                        Следующим этапом было поступление в БГУИР (Белорусский государственный университет информатики и радиоэлектроники),
                        в котором я учусь и настоящее время. Здесь мы по минимуму изучали C++,
                        из которого также большинство информации успешно мной забыто.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-0 col-md-3 d-none d-md-block order-1">
            <div class="pt-3 pb-3 d-flex h-100 w-100">
                <div class="fs-3 ps-3 pe-3 text-white bg-dr rounded montserrat-medium h-100 w-100 d-flex align-items-center justify-content-center text-center">
                    2020-2024
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 bg-transparent col-md-9 pe-0 ps-0 align-self-center order-1">
            <div class="pt-3 pb-3">
                <div class="pe-2 pb-1 bg-def rounded-3">
                    <div class="fs-3 p-2 ps-3 pe-3 text-dr bg-white rounded montserrat-medium">
                        Cources
                        <span class="d-block d-md-none fs-6">2021-2022</span>
                    </div>
                </div>
                <div class="fs-4 p-2 text-white">
                    <p class="m-0">
                        В процессе обучения в БГУИРЕ я закончил курсы TeachMeSkills
                        по специальности FullStack .NET разработчик, где соответственно и начал свой путь изучения C# и .NET.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-0 col-md-3 d-none d-md-block order-2">
            <div class="pt-3 pb-3 d-flex h-100 w-100">
                <div class="fs-3 ps-3 pe-3 text-white bg-dr rounded montserrat-medium h-100 w-100 d-flex align-items-center justify-content-center text-center">
                    2021-2022
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 bg-transparent col-md-9 pe-0 ps-0 align-self-center order-2">
            <div class="pt-3">
                <div class="pe-2 pb-1 bg-def rounded-3">
                    <div class="fs-3 p-2 ps-3 pe-3 text-dr bg-white rounded montserrat-medium">
                        Present Time
                        <span class="d-block d-md-none fs-6">2023-2024</span>
                    </div>
                </div>
                <div class="fs-4 p-2 text-white">
                    <p class="m-0">
                        Прошло уже 3 года с момента, как я начал изучать платформу .NET и язык C#.
                        За это время я освоил множество аспектов, принципов и архитектур.
                        Кроме того, я успешно овладел языком таблиц стилей CSS, языком разметки HTML,
                        а также приобрел опыт в работе с JS. Довольно большая часть моих фриланс-проектов,
                        также связана и с разработкой WinForms приложений. Кроме того, я часто сталкиваюсь с работой с базами данных,
                        такими как MySQL, PostgreSQL и MS SQL,. Все это позволяет мне продолжать расти и развиваться в роли разработчика.
                        <br /><span class="opacity-50">
                            *В последнее время занимаюсь изучением JS, подробным разделением приложений на Backend и Fronted части,
                            формата React - .NET.
                        </span>
                        <br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-0 col-md-3 d-none d-md-block order-1">
            <div class="pt-3 d-flex h-100 w-100">
                <div class="fs-3 ps-3 pe-3 text-white bg-dr rounded montserrat-medium h-100 w-100 d-flex align-items-center justify-content-center text-center">
                    2024
                </div>
            </div>
        </div>
    </div>
</div>