@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="palette-text">@ViewData["Title"]</h1>

<p>At Eugene personal site, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Eugene and how we use it.</p>
<h2 class="palette-text">Cookies and Web Beacons</h2>
<p>Like any other website, we use "cookies". These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
<h2 class="palette-text">Privacy Policies</h2>
<P>You may consult this list to find the Privacy Policy for each of the advertising partners of my site.</p>
<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on site, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
<p>Note that site has no access to or control over these cookies that are used by third-party advertisers.</p>
<h2 class="palette-text">Third Party Privacy Policies</h2>
<p>Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>
<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>
<h2 class="palette-text">Online Privacy Policy Only</h2>
<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect there. This policy is not applicable to any information collected offline or via channels other than this website.</p>
<h2 class="palette-text">Consent</h2>
<p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>									
