@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="updated-elements pb-1 pt-3 p-4 block-am-flex-center">
    <h1 class="palette-text">Политика конфиденциальности ресурса </h1>

    <p>На моем личном сайте одним из наших основных приоритетов является конфиденциальность наших посетителей. В этом документе "Политика конфиденциальности" содержится информация о типах собираемой и регистрируемой информации и о том, как мы ее используем.</p>
    <h2 class="palette-text">Файлы cookie и счетчики</h2>
    <p>Как и любой другой веб-сайт, мы используем файлы "cookie". Эти файлы cookie используются для хранения информации, включая предпочтения посетителей и страницы веб-сайта, на которые посетитель зашел или которые он посетил. Информация используется для оптимизации опыта пользователей путем настройки содержимого нашей веб-страницы в соответствии с типом браузера посетителей и/или другой информацией.</p>
    <h2 class="palette-text">Политика конфиденциальности</h2>
    <p>Вы можете ознакомиться с этим списком, чтобы найти Политику конфиденциальности каждого из рекламных партнеров нашего сайта.</p>
    <p>Рекламные серверы третьих сторон или рекламные сети используют технологии, такие как файлы "cookie", JavaScript или счетчики, которые используются в их соответствующих рекламных объявлениях и ссылках, которые отображаются на сайте и которые направляются непосредственно в браузеры пользователей. Они автоматически получают ваш IP-адрес при этом. Эти технологии используются для измерения эффективности их рекламных кампаний и/или для настройки рекламного контента, который вы видите на посещаемых вами веб-сайтах.</p>
    <p>Обратите внимание, что сайт не имеет доступа к этим файлам "cookie", используемым третьими рекламодателями, и не контролирует их.</p>
    <h2 class="palette-text">Политика конфиденциальности третьих сторон</h2>
    <p>Политика конфиденциальности не распространяется на других рекламодателей или веб-сайты. Поэтому мы рекомендуем вам ознакомиться с соответствующими Политиками конфиденциальности этих рекламных серверов третьих сторон, чтобы получить более подробную информацию. Это может включать их практики и инструкции по отключению определенных вариантов.</p>
    <p>Вы можете выбрать отключение файлов "cookie" через настройки вашего браузера. Чтобы получить более подробную информацию о управлении файлами "cookie" с определенными веб-браузерами, вы можете найти ее на соответствующих веб-сайтах браузеров.</p>
    <h2 class="palette-text">Политика конфиденциальности в Интернете</h2>
    <p>Эта Политика конфиденциальности применяется только к нашим онлайн-активностям и действительна для посетителей нашего веб-сайта в отношении информации, которую они разделяют и/или собирают там. Эта политика не распространяется на любую информацию, собранную офлайн или через другие каналы, кроме этого веб-сайта.</p>
    <h2 class="palette-text">Согласие</h2>
    <p>Используя наш веб-сайт, вы тем самым соглашаетесь с нашей Политикой конфиденциальности и соглашаетесь с ее Условиями и положениями.</p>
</div>