@{
    ViewData["Title"] = "Projects";
}

<script>
    document.addEventListener("keydown", function (event) {
        if (event.code === "ArrowRight") {
            window.location.href = '@Url.Action("AboutSite", "Home")';
        }
    });
</script>

<script>
    document.addEventListener("keydown", function (event) {
        if (event.code === "ArrowLeft") {
            window.location.href = '@Url.Action("Skills", "Home")';
        }
    });
</script>

<h1 class="palette-text">Мои последние коммерчиские проэкты</h1>

<div>
    <h2>Проект №1 GazorGameStore</h2>
    <P>
        Данный проект представляет собой (WEB - DESKTOP) приложение, написанное в формате интернет-магазина.
        В данном проекте в качестве бд используется MySQL, также приложение использует 5-тислойную архитектуру в основе веба которой идут Razor-pages, в качестве Desktop части - ипользовались WinForms.
        Также сделан юнит тестинг всего приложения (45 тестов).
        В веб части реализованы: корзина, отзывы (комментарии), страница товаров, подробности товара, админ меню ( меню редактирования - добавления - удаления товаров), кабинет пользователя, реагистрация/авторизация пользователя, вся возможная валидация.
        Веб дизайна почти нету (только bootstrap) пару форм и моделей - реализована основа (т.к. за это никто не платил :(, а жаль )
        В desktop части - реализована авторизация *Admin only, админ меню ( меню редактирования - добавления - удаления продуктов/товаров/услуг), меню товаров, валидация.
        Это коммерческое приложение было написано по заказу - оно было представлено на конкурсе в Нидерландах с целью получения финансов на последующую его разработку. Однако по моему мнению - оно достаточно банально, хоть и сделано по строгому ТЗ.
    </P>
</div>

<div>
    <h2>Проект №2 Ferma 2.0</h2>
    <P>
        Данный проект представляет собой (WEB - DESKTOP) приложение, предназначенное для ведения статистики на фермерском предприятии.
        В данном пректе в качестве бд используется MSSQL, обычная (3 слойная архитектура), веб на основе MVC, Desktop - WPF.
        Я занимался написанием веб части - в которой по ТЗ должны быть интерфесы напрявленные на работу с персоналом предприятия.
        Были реализованы следующие интерфейсы, а именно (Авторизация *Admin only), админ меню ( добавление - редактирование - удаление сотрудников (а также работа с правами сотрудников/их правами доступа))
    </P>
</div>

<div>
    <h2>Проект №3 WPumper</h2>
    <P>
        Данный проект представляет собой DESKTOP приложение, предназначенное для внесения некоторых изменений в .exe приложение.
        Данное приложение может нарастить размер приложения до необходимого, может изменить иконку приложения а также, с помощью него - можно скопировать сертификаты другого .exe приложения, либо добавить свои.
    </P>
</div>



