@{
    ViewData["Title"] = "Навыки";
}

@section Sprites {
    <link rel="stylesheet" href="~/css/home/skills.css" />
}

<div class="row text-white fs-3 p-0">
    <div class="col-12 col-md-7 col-lg-8 col-xl-9 pt-3 pb-md-3 p-0 pe-md-3">
        <div class="bg-dr2 ps-md-4 pe-md-4 ps-3 pe-3 rounded-3">
            <div class="pb-3 pt-3">
                <div class="bg-def rounded-3 pe-2 pb-1">
                    <div class="p-md-4 p-3 fs-sm-2 montserrat-semibold text-center bg-white text-dr rounded-3 fs-2 text-break">
                        Профессиональные навыки
                    </div>
                </div>
            </div>
            <div class="fs-4 pb-2">
                <p class="text-break">
                    C#, .Net (Разработка с использованием данной технологии и платформы более 3х лет).
                    <div class="progress rounded-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-3" style="width:80%;"></div>
                    </div>
                </p>
                <p class="text-break">
                    HTML, CSS, Bootstrap (Уверенное владение).
                    <div class="progress rounded-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-3" style="width:80%;"></div>
                    </div>
                </p>
                <p class="text-break">
                    JS (Редкое использование в основном для реализации запросов, AJAX, построение анимаций или функций, которые средствами .NET сделать тяжело).
                    <div class="progress rounded-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-3" style="width:50%;"></div>
                    </div>
                </p>
                <p class="text-break">
                    SQL, MySQL, MSSQL, PostgreSQL (Мои постоянные спутники).
                    <div class="progress rounded-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-3" style="width:65%;"></div>
                    </div>
                </p>
                <p class="text-break">
                    WinForms (При необходимости могу реализовать Desktop приложение любого формата, для UI зачастую использую GUNA).
                    <div class="progress rounded-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-3" style="width:85%;"></div>
                    </div>
                </p>
                <p class="text-break">
                    Любые Custom архитектуры, MVC, MVVM, 3-layer, 5-layer, clean arc and Razor pages. (Могу реализовать данные архитектуры, а также все их интерфейсы).
                    <div class="progress rounded-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-3" style="width:80%;"></div>
                    </div>
                </p>
                <p class="text-break">
                    Разработка API на .NET (Также имеется опыт).
                    <div class="progress rounded-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-3" style="width:40%;"></div>
                    </div>
                </p>
                <p class="text-break">
                    Swagger и Swagger UI (Тут толком нечего говорить: использую, но не так часто, как хотелось бы).
                    <div class="progress rounded-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-3" style="width:45%;"></div>
                    </div>
                </p>
                <p class="text-break">
                    Работа с хостигом .NET, (Разворачивание приложения, его обновление, поддержка, подключение модулей, распараллеливание операций; как я заметил, это довольно редкий навык)
                    <div class="progress rounded-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-3" style="width:70%;"></div>
                    </div>
                </p>
                <p class="text-break">
                    Работа с AI (Вы бы знали, какие промпты я пишу...)
                    <div class="progress rounded-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-3" style="width:75%;"></div>
                    </div>
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-5 col-lg-4 col-xl-3 pt-3 pb-md-3 p-0">
        <div class="bg-dr2 ps-md-4 pe-md-4 ps-3 pe-3 rounded-3 h-100">
            <div class="pb-3 pt-3">
                <div class="bg-def rounded-3 pe-2 pb-1">
                    <div class="p-md-4 p-3 montserrat-semibold text-center bg-white text-dr rounded-3 fs-2 text-break">
                        «Гибкие» навыки
                    </div>
                </div>
            </div>
            <div class="fs-4">
                <hr \>
                <p class="text-break">Самостоятельность</p>
                <hr \>
                <p class="text-break">Высокая адаптивность</p>
                <hr \>
                <p class="text-break">Коммуникабельность</p>
                <hr \>
                <p class="text-break">
                    Трудолюбие
                    <br /><span class="opacity-50">
                        *cкорее Трудоголизм
                        <br />
                        (комментарий со стороны)
                    </span>
                </p>
                <hr \>
                <p class="text-break">Упорство</p>
                <hr \>
                <p class="text-break">Целеустремленность</p>
                <hr \>
                <p class="text-break">Самоорганизация</p>
                <hr \>
                <p class="text-break">Креативность</p>
                <hr \>
                <p class="text-break pb-3">Аналитическое мышление</p>
            </div>
        </div>
    </div>
</div>
