@{
    ViewData["Title"] = "Skills";
}

<script>
    document.addEventListener("keydown", function (event) {
        if (event.code === "ArrowRight") {
            window.location.href = '@Url.Action("", "Projects")';
        }
    });
</script>

<script>
    document.addEventListener("keydown", function (event) {
        if (event.code === "ArrowLeft") {
            window.location.href = '@Url.Action("Education", "Home")';
        }
    });
</script>

<div class="block-am block-education-flex-center coloredboder-am">
    <div>
        <p_am class="text-am margin-off">
            <div>
                <div class="education-block m-2 mb-0">
                    <div>
                        <div class="education-block-text-right education-element">
                            <div class="m-2 text-center fonts1_5rem">
                                Hard Skills
                            </div>
                            <br />
                            <p>
                                C#, .Net (Разработка с использованием данной технологии и платформы более 2х лет.)
                                <div class="progress-bar">
                                    <div class="progress" style="width:75%;"></div>
                                </div>
                            </p>
                            <p>
                                HTML, CSS (Уверенное владение.)
                                <div class="progress-bar">
                                    <div class="progress" style="width:85%;"></div>
                                </div>
                            </p>
                            <p>
                                JS (Редкое использование, в основном для реализации запросов.)
                                <div class="progress-bar">
                                    <div class="progress" style="width:30%;"></div>
                                </div>
                            </p>
                            <p>
                                SQL, MySQL, MSSQL (Зачастую используются мной в реализации проектов.)
                                <div class="progress-bar">
                                    <div class="progress" style="width:65%;"></div>
                                </div>
                            </p>
                            <p>
                                WinForms (При необходимости могу реализовать Desktop приложение.)
                                <div class="progress-bar">
                                    <div class="progress" style="width:75%;"></div>
                                </div>
                            </p>
                            <p>
                                MVC, MVVM, 3-layer arc Razor. (Могу реализовать данные архитектуры, а также все их интерфейсы.)
                                <div class="progress-bar">
                                    <div class="progress" style="width:70%;"></div>
                                </div>
                            </p>
                        </div>
                    </div>

                    <div class="education-block-text-left education-element pb-2">
                        <div class="m-2 text-center fonts1_5rem">
                            Soft Skills
                        </div>
                        <br \>
                        <p class="pt-2">Коммуникабельность</p>
                        <hr \>
                        <p>Аналитическое мышление</p>
                        <hr \>
                        <p>Самоорганизация</p>
                        <hr \>
                        <p>Усидчивость</p>
                        <hr \>
                        <p>Креативность</p>
                        <hr \>
                        <p>Адаптивность</p>
                    </div>
                </div>
            </div>
        </p_am>
    </div>
</div>
