@{
    ViewData["Title"] = "Updates";
}
<div class="main-block-updates">
    <div class="updates-block text-center">
        <h1 class="palette-text">@ViewData["Title"]</h1>
    </div>
    <div class="updates-block git-view-block">@Html.Raw(ViewBag.Html)</div>
</div>