@{
    ViewData["Title"] = "Updates";
}
<div class="block-am-flex-center">
    <div class="main-block-updates">
        <div class="pt-2 pb-2 mb-2-5 mt-0 updated-elements coloredboder-am">
            Здесь вы можете увидеть последние обновления моего сайта, а также посмотреть историю изменений проекта на GitHub.
        </div>
        <div class="updated-elements mt1">
            <div class="updates-block git-view-block">@Html.Raw(ViewBag.Html)</div>
        </div>
    </div>
</div>m