@{
    ViewData["Title"] = "Updates";
}
<div class="main-block-updates">
    <div class="updates-block text-center">
        <h1 class="text-header-block">Last Updates</h1>
    </div>
    <div class="updates-block git-view-block">@Html.Raw(ViewBag.Html)</div>
</div>