    @{
        ViewData["Title"] = "Updates";
    }
    <div class="main-block-updates">
        <div class="pt-3 pb-3 p-4 mb-3 mt-1 updates-elements">
            Здесь вы можете увидеть последние обновления моего сайта, а также посмотреть историю измениний проекта на GitHub.
        </div>
        <div class="updates-elements">
            <div class="updates-block git-view-block">@Html.Raw(ViewBag.Html)</div>
        </div>
    </div>