@{
    ViewData["Title"] = "Education";
}

@section Sprites {
    <link rel="stylesheet" href="~/css/home/home.css" />
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/pictures/ph.jpg" class="img-fluid float-md-start" alt="‘ото">
        </div>
        <div class="col-md-6 position-relative">
            <p style="margin-left: -80px; background-color: white;"> ƒополнительный текст, который будет частично перекрывать текст в другой колонке.</p>
        </div>
    </div>
</div>
