@{
    ViewData["Title"] = "Home";
}

@section Sprites {
    <link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true" />
}

<div class="row">
    <div class="col-sm-12 col-md-6 min-vh-87">
        <div class="bg-photo h-100"></div>
        <hr class="mt-0 hr-washed" />
    </div>
    <div class="col-sm-12 bg-transparent col-md-6 pe-0 ps-0 align-self-center">
        <div class="p-sm-0 ps-md-1">
            <br />
            <div class="fs-2 text-white p-2 pb-0 mt-md-2">
                Приветствую тебя !
            </div>
            <br />
            <div class="fs-3 p-2 pt-0 text-white">
                <p>Меня зову Женя и я – .NET разработчик, занимающийся разработкой веб-, десктоп-приложений. </p>
                <p>Моим основным языком программирования является C#, однако имеется опыт работы и с другими. </p>
                <p>
                    Работаю с различными архитектурами приложений, такими как MVC, MVVM,
                    трехслойная архитектура с использованием Razor Pages и т.п.
                </p>
                <p>Кроме того, владею HTML, CSS и JS. </p>
                <p>У меня также есть опыт работы с реляционными базами данных, такими как MySQL, MSSQL и PostgreSQL.</p>
                <p>Имею хорошие навыки в написании и настройке WinForms приложений.</p>
                <p>Мой реальный опыт коммерческой разработки составляет 1,5 года, в течение которого я работаю на фрилансе.</p>
            </div>
        </div>
    </div>
</div>
