@{
    ViewData["Title"] = "Privacy";
}

@section Sprites {
    <link rel="stylesheet" href="~/css/home/privacy.css" />
}

<div class="container p-0">
    <div class="row p-0">
        <div class="containter p-2 p-sm-4 m-3 ms-0 me-0 box-w-def-border ">
            <div class="bg-dr2 p-2 p-sm-3 rounded-3">
                <div class="justify-content-center align-content-center">
                    <div class="text-white p-0 text-break">
                        <h1 class="text-center pb-2 pt-2 fs-sm-2">Политика конфиденциальности ресурса</h1>
                        <hr />
                        <p>На данном сайте основным приоритетом является конфиденциальность посетителей. В этом документе "Политика конфиденциальности" содержится информация о типах собираемой и регистрируемой информации. Особое внимание уделяется защите конфиденциальности каждого посетителя.</p>
                        <h2>Использование "Cookie"</h2>
                        <p>Как и на любом другом веб-сайте, используются файлы "cookie". Эти файлы cookie используются для хранения информации, включая предпочтения посетителей и страницы веб-сайта, на которые посетитель зашел или которые он посетил. Информация используется для оптимизации опыта пользователей путем настройки содержимого веб-страницы в соответствии с типом браузера посетителей и/или другой информацией. Стремимся обеспечить максимальный комфорт и удобство при использовании нашего веб-сайта, а файлы "cookie" помогают достичь этой цели.</p>
                        <h2>Политика конфиденциальности третьих сторон</h2>
                        <p>Политика конфиденциальности не распространяется на других рекламодателей или веб-сайты. Рекомендуется ознакомиться с соответствующими "Политиками конфиденциальности" этих рекламных серверов третьих сторон, чтобы получить более подробную информацию. Это может включать их практики и инструкции по отключению определенных вариантов. Доверие каждого посетителя очень важно для нас, поэтому рекомендуется внимательно изучить политику конфиденциальности каждого сайта, куда вы переходите через нашу платформу.</p>
                        <p>Посетители могут выбрать отключение файлов "cookie" через настройки своего браузера. Дополнительную информацию о управлении файлами "cookie" с определенными веб-браузерами можно найти на соответствующих веб-сайтах браузеров. Обеспечиваем ваше право на контроль за собственной конфиденциальностью и делаем все возможное для обеспечения прозрачности и удобства в этом процессе.</p>
                        <h2>Политика конфиденциальности в Интернете</h2>
                        <p>Эта Политика конфиденциальности применяется только к онлайн-активностям и действительна для посетителей данного веб-сайта в отношении информации, которую здесь использует один человек. Эта политика не распространяется на любую информацию, собранную офлайн или через другие каналы, кроме этого веб-сайта. Стремимся обеспечить безопасную и удобную среду для всех наших пользователей, независимо от способа взаимодействия с нашим ресурсом.</p>
                        <h2>Согласие</h2>
                        <p class="mb-0">Используя данный веб-сайт, посетители тем самым соглашаются с данной Политикой конфиденциальности и соглашаются с ее Условиями и положениями. Ваше доверие к нам ценится, и мы гарантируем, что все собираемые данные будут использоваться только в соответствии с этой Политикой конфиденциальности.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>