@{
    ViewData["Title"] = "Skills";
}

@section Sprites {
    <link rel="stylesheet" href="~/css/home/skills.css" />
}

<div class="row text-white fs-3">
    <div class="col-12 col-md-8 p-xl-5 p-lg-4 p-3 pb-3 pt-0 pt-md-3 pt-xl-3 p-lg-3">
        <div class="p-md-4 p-3 fs-2 montserrat-semibold text-center">
            Hard Skills
        </div>
        <div class="fs-4">
            <p class="text-break">
                C#, .Net (Разработка с использованием данной технологии и платформы более 3х лет).
                <div class="progress-bar rounded">
                    <div class="progress" style="width:80%;"></div>
                </div>
            </p>
            <p class="text-break">
                HTML, CSS, Bootstrap (Уверенное владение).
                <div class="progress-bar rounded">
                    <div class="progress" style="width:80%;"></div>
                </div>
            </p>
            <p class="text-break">
                JS (Редкое использование в основном для реализации запросов, AJAX, построение анимаций или функций, которые средствами .NET сделать тяжело).
                <div class="progress-bar rounded">
                    <div class="progress" style="width:50%;"></div>
                </div>
            </p>
            <p class="text-break">
                SQL, MySQL, MSSQL, PostgreSQL (Мои постоянные спутники).
                <div class="progress-bar rounded">
                    <div class="progress" style="width:65%;"></div>
                </div>
            </p>
            <p class="text-break">
                WinForms (При необходимости могу реализовать Desktop приложение любого формата, для UI зачастую использую GUNA).
                <div class="progress-bar rounded">
                    <div class="progress" style="width:85%;"></div>
                </div>
            </p>
            <p class="text-break">
                Любые Custom архитектуры, MVC, MVVM, 3-layer, 5-layer, clean arc and Razor pages. (Могу реализовать данные архитектуры, а также все их интерфейсы).
                <div class="progress-bar rounded">
                    <div class="progress" style="width:80%;"></div>
                </div>
            </p>
            <p class="text-break">
                Разработка API на .NET (Также имеется опыт).
                <div class="progress-bar rounded">
                    <div class="progress" style="width:40%;"></div>
                </div>
            </p>
            <p class="text-break">
                Swagger и Swagger UI (Тут толком нечего говорить: использую, но не так часто, как хотелось бы).
                <div class="progress-bar rounded">
                    <div class="progress" style="width:45%;"></div>
                </div>
            </p>
            <p class="text-break">
                Работа с хостигом .NET, (Разворачивание приложения, его обновление, поддержка, подключение модулей, распараллеливание операций; как я заметил, это довольно редкий навык)
                <div class="progress-bar rounded">
                    <div class="progress" style="width:70%;"></div>
                </div>
            </p>
            <p class="text-break">
               Работа с AI (Вы бы знали, какие промпты я пишу...)
                <div class="progress-bar rounded">
                    <div class="progress" style="width:75%;"></div>
                </div>
            </p>
        </div>
    </div>

    <div class="col-12 col-md-4 p-xl-5 p-lg-4 p-3 pb-3 pt-0 pt-md-3 pt-xl-3 p-lg-3">
        <hr class="d-md-none" />
        <div class="p-md-4 p-3 fs-2 montserrat-semibold text-center">
            Soft Skills
        </div>
        <div class="fs-4">
            <hr \>
            <p class="text-break">Самостоятельность</p>
            <hr \>
            <p class="text-break">Высокая адаптивность</p>
            <hr \>
            <p class="text-break">Коммуникабельность</p>
            <hr \>
            <p class="text-break">
                Трудолюбие
                <br /><span class="opacity-50">
                    *cкорее Трудоголизм
                    <br />
                    (комментарий со стороны)
                </span>
            </p>
            <hr \>
            <p class="text-break">Упорство</p>
            <hr \>
            <p class="text-break">Целеустремленность</p>
            <hr \>
            <p class="text-break">Самоорганизация</p>
            <hr \>
            <p class="text-break">Креативность</p>
            <hr \>
            <p class="text-break">Аналитическое мышление</p>
            <hr \>
        </div>
    </div>
</div>
