@{
    ViewData["Title"] = "Skills";
}

<script>
    document.addEventListener("keydown", function (event) {
        if (event.code === "ArrowRight") {
            window.location.href = '@Url.Action("", "Projects")';
        }
    });
</script>

<script>
    document.addEventListener("keydown", function (event) {
        if (event.code === "ArrowLeft") {
            window.location.href = '@Url.Action("Education", "Home")';
        }
    });
</script>

<body class="regular-body">
    <div class="regular-block regular-block-center regular-coloredboder iframe p-2">
        <div class="block-am block-am-flex-center regular-block-with-scroll-info">
            <div>
                <p_am class="text-am margin-off">
                    <div>
                        <div class="education-block m-2 mb-0">
                            <div>
                                <div class="education-block-text-right education-element">
                                    <div class="m-2 text-center header-skills">
                                        Hard Skills
                                    </div>
                                    <br />
                                    <p class="text-skills">
                                        C#, .Net (Разработка с использованием данной технологии и платформы более 2х лет.)
                                        <div class="progress-bar">
                                            <div class="progress" style="width:75%;"></div>
                                        </div>
                                    </p>
                                    <p class ="text-skills">
                                        HTML, CSS (Уверенное владение.)
                                        <div class="progress-bar">
                                            <div class="progress" style="width:85%;"></div>
                                        </div>
                                    </p>
                                    <p class="text-skills">
                                        JS (Редкое использование, в основном для реализации запросов.)
                                        <div class="progress-bar">
                                            <div class="progress" style="width:30%;"></div>
                                        </div>
                                    </p>
                                    <p class="text-skills">
                                        SQL, MySQL, MSSQL (Зачастую используются мной в реализации проектов.)
                                        <div class="progress-bar">
                                            <div class="progress" style="width:65%;"></div>
                                        </div>
                                    </p>
                                    <p class="text-skills">
                                        WinForms (При необходимости могу реализовать Desktop приложение.)
                                        <div class="progress-bar">
                                            <div class="progress" style="width:75%;"></div>
                                        </div>
                                    </p>
                                    <p class="text-skills">
                                        MVC, MVVM, 3-layer arc Razor. (Могу реализовать данные архитектуры, а также все их интерфейсы.)
                                        <div class="progress-bar">
                                            <div class="progress" style="width:70%;"></div>
                                        </div>
                                    </p>
                                </div>
                            </div>

                            <div class="education-block-text-left education-element pb-2">
                                <div class="m-2 text-center fonts1_5rem header-skills">
                                    Soft Skills
                                </div>
                                <br \>
                                <p class="pt-2 text-skills">Коммуникабельность</p>
                                <hr \>
                                <p class="text-skills">Аналитическое мышление</p>
                                <hr \>
                                <p class="text-skills">Самоорганизация</p>
                                <hr \>
                                <p class="text-skills">Усидчивость</p>
                                <hr \>
                                <p class="text-skills">Креативность</p>
                                <hr \>
                                <p class="text-skills">Адаптивность</p>
                            </div>
                        </div>
                    </div>
                </p_am>
            </div>
        </div>
    </div>
</body>