@{
    ViewData["Title"] = "Privacy Policy";
}
<body class="regular-body">
    <div class="regular-block regular-block-center regular-coloredboder iframe">
        <div class="updated-elements pb-1 pt-3 p-4 privacy-block regular-block-with-scroll-info">
            <h1 class="palette-text">Политика конфиденциальности ресурса </h1>
            <p>На данном сайте одним из основных приоритетов является конфиденциальность посетителей. В этом документе "Политика конфиденциальности" содержится информация о типах собираемой и регистрируемой информации.</p>
            <h2 class="palette-text">Файлы cookie</h2>
            <p>Как и любой другой веб-сайт, я использую файлы "cookie". Эти файлы cookie используются для хранения информации, включая предпочтения посетителей и страницы веб-сайта, на которые посетитель зашел или которые он посетил. Информация используется для оптимизации опыта пользователей путем настройки содержимого нашей веб-страницы в соответствии с типом браузера посетителей и/или другой информацией.</p>
            <h2 class="palette-text">Политика конфиденциальности третьих сторон</h2>
            <p>Политика конфиденциальности не распространяется на других рекламодателей или веб-сайты. Поэтому я рекомендую вам ознакомиться с соответствующими "Политиками конфиденциальности" этих рекламных серверов третьих сторон, чтобы получить более подробную информацию. Это может включать их практики и инструкции по отключению определенных вариантов.</p>
            <p>Вы можете выбрать отключение файлов "cookie" через настройки вашего браузера. Чтобы получить более подробную информацию о управлении файлами "cookie" с определенными веб-браузерами, вы можете найти ее на соответствующих веб-сайтах браузеров.</p>
            <h2 class="palette-text">Политика конфиденциальности в Интернете</h2>
            <p>Эта Политика конфиденциальности применяется только к онлайн-активностям и действительна для посетителей моего веб-сайта в отношении информации, которую я использую здесь. Эта политика не распространяется на любую информацию, собранную офлайн или через другие каналы, кроме этого веб-сайта.</p>
            <h2 class="palette-text">Согласие</h2>
            <p>Используя мой веб-сайт, вы тем самым соглашаетесь с данной Политикой конфиденциальности и соглашаетесь с ее Условиями и положениями.</p>
        </div>
    </div>
</body>