@{
    ViewData["Title"] = "Resume";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        @@keyframes darkerPage {
            from { opacity: 1; }
            to { opacity: 0; }
        }
        
        .myElement {
            animation: darkerPage 0.5s linear infinite;
        }

        #loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
        }

        iframe {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100vh - 124px); 
            border-radius: 20px !important;
            border: 0;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("iframe").on("load", function () {
                $("#loader").hide();
            });
        });
    </script>
</head>
<body>
    <div class="myElement" id="loader">Загрузка...</div>
    <iframe src="https://drive.google.com/file/d/1fKfL7t3e1n-o9suhHRY6H8OUDONl2Pr0/preview" allow="autoplay"></iframe>
</body>
</html>
