<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" cntent="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JevKrayPersonalSite.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="remove-border remove-padding margin-off header-back-color header-text-color navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="remove-border padding-top4 container-fluid">
                <a class="text-w600 text-size-brand remove-padding header-text-color navbar-brand" asp-area="" asp-controller="AboutMe" asp-action="AboutMe">Eugene.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav navbar-b4 text-size-navbar flex-grow-1 content-end">
                        <li class="nav-item">
                            <a class="text-size-navbar navbar-b4 header-text-color nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Aducation" >Aducation</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-size-navbar navbar-b4 header-text-color nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-size-navbar navbar-b4 header-text-color nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Projects">Projects</a>
                        </li>
                        <li class="nav-item nav-contact">
                            <a class="text-size-navbar navbar-b4 header-text-color nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
                        </li>
                        <li class="nav-item nav-updates">
                            <a class="text-size-navbar navbar-b4 header-text-color nav-link text-dark" asp-area="" asp-controller="Updates" asp-action="Updates">Updates</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>  
    </header>
    <div class="fixed-padding-down5_6 padding-12 container-wt-margin" >
        <main role="main" class="remove-padding-down pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer remove-border footer-c1">
        <div class="container-wt-margin padding-l12-r18 remove-border footer-c2">
            <div class="footer-element-logo">&copy; 2023 - JevKrayPersonalSite</div>
            <div class="footer-element-privacy">
                <a class ="underline-one" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
