.animated-update-window {
    padding: 0rem 0.25rem 0.25rem 0rem;
    transition: padding 0.1s linear;
}

    .animated-update-window:hover {
        padding: 0rem 0.5rem 0.25rem 0rem;
    }

        .animated-update-window:hover .animated-github-button-outside {
            padding: 0.25rem 0rem 0 0.5rem;
        }

.update-window {
    padding: 0rem 0.25rem 0.25rem 0rem;
    transition: padding 0.1s linear;
}

.roboto-mono-400 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pagination {
    border: 1px solid rgb(66,66,66);
    border-radius: 0.3rem;
    transition: padding 0.1s linear;
    transition: border 0.5s ease;
}

    .pagination:hover {
        border: 1px solid rgb(74,86,234);
    }

.pagination-outside {
    background-color: rgb(74,86,234);
    padding: 0 0.25rem 0.25rem 0;
    transition: padding 0.1s linear;
}

.pagination-inside {
    background-color: rgb(56, 56, 56);
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: background-color 0.1s linear;
    transition: padding 0.1s linear;
}

.pagination:hover .pagination-outside {
    padding: 0;
}

.pagination:hover .pagination-inside {
    background-color: rgb(66, 66, 66);
    padding: 0.625rem 1.125rem 0.625rem 1.125rem;
}

.animated-github-button-outside {
    padding: 0.25rem 0rem 0 0.25rem;
    transition: padding 0.1s linear;
}

.animated-github-button-inside {
    background-color: rgb(56, 56, 56);
    transition: background-color 0.1s linear;
    padding: 0.5rem 1rem 0.25rem 1rem;
    transition: padding 0.1s linear;
}

.animated-button-github {
    transition: padding 0.1s linear;
    transition: border 0.5s linear;
    border: 1px solid rgb(66,66,66);
    border-radius: 0.3rem;
}

    .animated-button-github:hover {
        border: 1px solid rgb(74,86,234);
    }

        .animated-button-github:hover .animated-github-button-outside {
            padding: 0rem 0rem 0rem 0rem;
        }

        .animated-button-github:hover .animated-github-button-inside {
            padding: 0.5rem 1.25rem 0.5rem 1.25rem;
            background-color: rgb(66, 66, 66);
        }

.selected-page {
    pointer-events: none;
    text-decoration: none;
}
