.image-box-preview {
    height: 45vh;
    box-shadow: inset 0 0 5vh black;
}

@media (min-width: 576px) {
    .image-box-preview {
        height: 55vh;
        box-shadow: inset 0 0 7.5vh black;
    }
}

@media (min-width: 768px) {
    .image-box-preview {
        height: 65vh;
        box-shadow: inset 0 0 10vh black;
    }
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-plus {
    position: absolute;
    top: 0;
    right: 0;
    width: 50.1%;
    height: 100%;
    transition: box-shadow 0.5s ease;
}

    .project-plus:hover {
        box-shadow: inset -50px 0 70px -80px rgba(255, 255, 255, 0.6);
    }

    .project-plus:active {
        box-shadow: inset -50px 0 70px -80px rgba(255, 255, 255, 0.6);
    }

.project-transition-all-on {
    transition: box-shadow 0.5s ease;
}

.project-minus {
    position: absolute;
    top: 0;
    left: 0;
    width: 50.1%;
    height: 100%;
    transition: box-shadow 0.5s ease;
}

    .project-minus:hover {
        box-shadow: inset 50px 0 70px -80px rgba(255, 255, 255, 0.6);
    }

    .project-minus:active {
        box-shadow: inset 50px 0 70px -80px rgba(255, 255, 255, 0.6);
    }

.loading-animation {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    opacity: 70%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image-preview {
    /* Дополнительные стили изображения */
}

.btn-left {
    color: white;
    opacity: 50%;
    transition: opacity 0.2s ease;
}

.btn-right {
    color: white;
    opacity: 50%;
    transition: opacity 0.2s ease;
}

.field {
    background-color: transparent;
}

    .field:hover .btn-left {
        opacity: 75%;
    }

    .field:hover .btn-right {
        opacity: 75%;
    }