@{
    ViewData["Title"] = "GazorpGameStore";
}
<body>
    <div class="block-allpj block-allpj-flex-center coloredboder-allpj">
        <div class="flex p-2 alm-black">
            1
        </div>
        <div class="flex p-2 alm-black">
            2
        </div>
        <div class="flex p-2 alm-black">
            3
        </div>
    </div>
</body>
