@model string
@{
    ViewData["Title"] = "About Me";
}

<script>
    document.addEventListener("keydown", function (event) {
        if (event.code === "ArrowRight") {
            window.location.href = '@Url.Action("Education", "Home")';
        }
    });
</script>

<body class="regular-body">
    <div class="regular-block regular-block-center regular-coloredboder iframe p-2">
        <div class="block-am block-am-flex-center coloredboder-am regular-block-with-scroll-info">
            <div>
                <p_am class="text-am margin-off">
                    <div class="text-am-small">
                        <img class="im-am" src="~/pictures/92729853.jpg">
                        <p class="mb-0">
                            Я .NET разработчик, занимающийся разработкой веб- и
                            десктоп-приложений. Моим основным языком
                            программирования является C#, однако имеется опыт
                            работы и с другими. Работаю с различными архитектурами
                            приложений, такими как MVC, MVVM, трехслойная
                            архитектура с использованием Razor Pages и т.п. Кроме
                            того, владею HTML, CSS и немного JS. У меня также есть
                            опыт работы с реляционными базами данных, такими как
                            MySQL и MSSQL. Имею практические навыки в написании
                            и настройке WinForms приложений. Мой реальный опыт
                            коммерческой разработки составляет 1 год, в течение
                            которого я работал на фрилансе.
                        </p>
                    </div>
            </div>
        </div>
    </div>
</body>
