@model string 
@{
    ViewData["Title"] = "About Me";
}
<div class="block-am">
    <div>
        <p_am class="remove-border text-am margin-off">
            <div class="text-am-small">
                <img class="im-am" src="~/pictures/92729853.jpg">
                <p>
                    Я .NET разработчик, занимающийся разработкой веб- и десктоп-приложений. Имею опыт работы с различными языками программирования, однако основным является C#. Работаю с различными архитектурами приложений, такими как MVC, MVVM, трехслойная архитектура с использованием Razor Pages и т.п. Кроме того, владею HTML, CSS и немного JS. У меня также есть опыт работы с реляционными базами данных, такими как MySQL и MSSQL. Имею практические навыки в написании и настройке WinForms приложений. Мой реальный опыт коммерческой разработки составляет 1 год, в течение которого я работал на фрилансе.
                </p>
            </div>
    </div>
</div>

@if (Model != null){
}